@import url("./fonts.css");

/*General style*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  color: #383838;
  overflow-x: hidden;
}

.container {
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 120px 20px;
}

.is-centered {
  text-align: center;
}

.section__title {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 104px;
}

.section__cards {
  display: flex;
  gap: 16px;
}

.section__card {
}

.section__card--4 {
  width: 25%;
}

/*Top Section*/

.top-section {
  width: 100vw;
  padding: 50px 0 120px;
  background-image: url("./../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

/*Header*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}

.header__logo {
  width: 205px;
  height: 40px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 48px;
}

.header__nav-list {
  display: flex;
  gap: 24px;
}

.header__nav-item {
}

.header__nav-link {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
}

.header__nav-link--active::after {
  content: "";
  position: absolute;
  /*Dynamic width, here it is 50px*/
  width: 86%;
  height: 4px;
  bottom: -14px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #f5bd41;
}

.header__nav-btns {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__nav-btn {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.header__nav-btn--theme {
  width: 30px;
  height: 30px;
}

.header__nav-btn--user {
  width: 40px;
  height: 40px;
}

.top-section__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 59px;
  letter-spacing: 0.3px;
  color: #fff;
  margin-bottom: 100px;
  margin-top: 0;
}

.top-section__title-break {
  display: inherit;
}

.top-section__form {
  margin-bottom: 120px;
  background-color: #fff;
  border-radius: 8px;
  max-height: 64px;
}

.form {
  display: flex;
  align-items: flex-end;
}

.form__field {
  flex-basis: 27%;
}

.form__field:focus-within {
  z-index: 100;
}

.form__field--city {
  flex-grow: 1;
}

.form__field--date {
  flex-basis: 259px;
}

.form__label {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: 21px;
  margin-bottom: 24px;
  padding-left: 25px;
}

.form__input {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #383838;
  gap: 24px;
  width: 100%;
  padding: 22px 24px;
  border-radius: 8px;
  border: 3px solid #f3f3f4;
  max-height: 64px;
}

.form__input:focus {
  outline: none;
  border: 3px solid #f5bd41;
  box-shadow: 0 0 10px #719ece;
  z-index: 100;
}

.form__input--date {
  margin-left: -6px;
  padding-left: 18px;
}

.form__input--guests {
  margin-left: -12px;
  padding-left: 35px;
  z-index: 0;
}

.form__submit-btn {
  max-height: 64px;
  padding: 20px 57px;
  border-style: none;
  border-radius: 8px;
  background-color: #3077c6;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin-left: -18px;
  cursor: pointer;
}

.top-section__download-app {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.top-section__btn {
  border-style: none;
  cursor: pointer;
  border-radius: 11px;
  background-color: transparent;
}

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
}

.top-section__btn--google-play {
  width: 135px;
  height: 40px;
}

.top-section__btn--apple-store {
  width: 120px;
  height: 40px;
}

/*What do we offer*/

.offer__title {
  margin-bottom: 26px;
}

.offer__line {
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
  border-style: none;
  margin: 0 auto 80px;
}

.offer__card {
}

.offer__card-img {
  margin-bottom: 48px;
  height: 100px;
}

.offer__card-img--headset {
  width: 75px;
}

.offer__card-img--forum {
  width: 83px;
}

.offer__card-img--devices {
  width: 100px;
}

.offer__card-img--thumbs-up {
  width: 92px;
}

.offer__card-title {
  font-size: 24px;
  font-weight: 400;
}

/*Footer*/
.footer {
  background-color: #10367c;
}

.footer__row {
  display: flex;
  margin-bottom: 65px;
}

.footer__col--1,
.footer__col--2 {
  width: 51%;
}

.footer__col--3 {
  width: 49%;
}

.footer__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 23px;
}

.footer__link--bold {
  font-weight: 500;
}

.footer__link:last-child {
  margin-bottom: 0;
}

.footer__link a {
  color: #fff;
}

.footer__copyright {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
