@import url("./fonts.css");

/*General style*/

:root {
  --col-width: calc(100% / 12);
  --unit: 16px;
  --container-width: 1232px;
  --section-title-size: 40px;
  --container-pad-top-btm: 120px;
  --container-pad-left-right: 104px;
  --title-mg-bottom: 104px;
  --image-mg-bottom: 24px;
  --destination-cards-mg-bottom: 48px;
  --button-width: 192px;
  --button-height: 64px;
  --button-font-size: 24px;
  --buttons-mg-bottom: 65px;
  --text-color: #383838;
  --color-dark-mode-1: #121212;
  --color-dark-mode-2: #1d1e1f;
  --color-dark-mode-3: #4d4d4d;
  --color-stroke: #f3f3f4;
  --color-secondary-text: #bfbfbf;
  --color-general-white: #fff;
  --color-accent-yellow: #f5bd41;
  --color-general-blue: #10367c;
  --color-accent-blue: #3077c6;
  --color-bg-main: #eaf0f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  color: var(--text-color);
  overflow-x: hidden;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--container-pad-top-btm) var(--container-pad-left-right);
  box-sizing: content-box;
}

._is-centered {
  text-align: center;
}

._is-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--unit) / -2);
  margin-left: calc(var(--unit) / -2);
}

.card {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.card__img {
  max-width: 296px;
  width: 100%;
  aspect-ratio: 1 /1;
  transition: all 0.3s ease-in-out;
}

.card:hover .card__img {
  filter: brightness(50%);
}

.card__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: var(--color-accent-blue);
}

.card__arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--color-stroke);
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card__arrow-img {
  max-width: 9px;
  max-height: 21px;
}

.button {
  min-width: var(--button-width);
  height: var(--button-height);
  border-style: none;
  border-radius: 8px;
  font-size: var(--button-font-size);
  line-height: 28px;
  font-weight: 500;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--color-stroke);
}

.button--active {
  background-color: var(--color-accent-blue);
  color: var(--color-general-white);
}

.button--third-type {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  min-width: 128px;
  height: 48px;
  color: var(--color-accent-blue);
  background-color: var(--color-general-white);
  border: 1px solid var(--color-stroke);
  transition: opacity 0.3s ease-in-out;
}

/* For desktop: */
.col-lg-1 {
  width: var(--col-width);
}

.col-lg-2 {
  width: calc(var(--col-width) * 2);
}

.col-lg-3 {
  width: calc(var(--col-width) * 3);
}

.col-lg-4 {
  width: calc(var(--col-width) * 4);
}

.col-lg-5 {
  width: calc(var(--col-width) * 5);
}

.col-lg-6 {
  width: 50%;
}

.col-lg-7 {
  width: calc(var(--col-width) * 7);
}

.col-lg-8 {
  width: calc(var(--col-width) * 8);
}

.col-lg-9 {
  width: calc(var(--col-width) * 9);
}

.col-lg-10 {
  width: calc(var(--col-width) * 10);
}

.col-lg-11 {
  width: calc(var(--col-width) * 11);
}

.col-lg-12 {
  width: 100%;
}

[class*="col-"] {
  padding-right: calc(var(--unit) / 2);
  padding-left: calc(var(--unit) / 2);
}

.section__title {
  text-align: center;
  font-weight: 500;
  font-size: var(--section-title-size);
  margin-bottom: var(--title-mg-bottom);
}

/*Top Section*/

.top-section {
  background-image: url("./../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.top-section-wrap {
  padding-top: 50px;
}

/*Header*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}

.logo__img {
  width: 205px;
  height: 40px;
  fill: var(--color-accent-blue);
}

.menu {
  display: flex;
  align-items: center;
  gap: 48px;
}

.menu__list {
  display: flex;
  gap: 24px;
}

.menu__link {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: var(--color-general-white);
}

.menu__link::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-accent-yellow);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.menu__link:hover::after {
  opacity: 1;
}

.menu__btns {
  display: flex;
  gap: 24px;
  align-items: center;
}

.menu__btn {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.menu__btn:hover {
  transform: scale(1.1);
}

.menu__btn--theme {
  width: 30px;
  height: 30px;
}

.menu__btn--user {
  width: 40px;
  height: 40px;
}

.header__hamburger-wrapper {
  display: none;
}

.top-section__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 59px;
  letter-spacing: 0.3px;
  color: var(--color-general-white);
  margin-bottom: 145px;
  margin-top: 0;
}

.top-section__title-break {
  display: inherit;
}

.top-section__form {
  display: flex;
  align-items: flex-end;
  margin-bottom: 120px;
  background-color: var(--color-general-white);
  border-radius: 8px;
  max-height: 64px;
}

.form__field {
  flex-basis: 25.6%;
}

.form__field--city {
  flex-grow: 1;
}

.form__field--date {
  flex-basis: 259px;
}

.form__label {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-general-white);
  line-height: 21px;
  margin-bottom: 24px;
  cursor: pointer;
}

.form__label._pad-left {
  padding-left: 23px;
}

.form__input {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-color);
  width: 100%;
  padding: 22px 24px;
  border-radius: 8px;
  border: 3px solid transparent;
  max-height: 64px;
  cursor: pointer;
}

.form__input:focus {
  outline: none;
  border: 3px solid var(--color-accent-yellow);
  box-shadow: 0 0 10px #719ece;
}

.form__input--date {
  padding-left: 20px;
  border: 3px solid var(--color-stroke);
}

.top-section__form-m {
  display: none;
}

.top-section__download-app {
  display: flex;
  justify-content: center;
  gap: var(--unit);
}

.top-section__btn {
  border-style: none;
  cursor: pointer;
  border-radius: 11px;
  background-color: transparent;
}

.top-section__btn--google-play {
  width: 135px;
  height: 40px;
}

.top-section__btn--apple-store {
  width: 120px;
  height: 40px;
}

/*What do we offer*/

.offer__title {
  position: relative;
}

.offer__title::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: var(--color-accent-yellow);
  left: 50%;
  bottom: -28px;
  transform: translateX(-50%);
}

.offer__card-img {
  margin-bottom: 48px;
  width: 100%;
  max-width: 100px;
  aspect-ratio: 1/1;
}

.offer__card-title {
  font-size: 24px;
  font-weight: 400;
}

/*Homes guests loves*/
.homes {
  background-color: var(--color-bg-main);
}

.homes__cards {
  position: relative;
}

.homes__card-img {
  margin-bottom: var(--image-mg-bottom);
}

.homes__card-title {
  margin-bottom: 24px;
}

.card__location-info {
  font-size: 24px;
  line-height: 28px;
  color: var(--color-secondary-text);
}

.homes__arrow-btn {
  top: 31%;
  right: -12px;
}

/*The best destinations*/
.destinations__btns {
  display: inline-flex;
  background-color: var(--color-stroke);
  margin-bottom: var(--buttons-mg-bottom);
}

.destination__button--places {
  display: block;
}

.destination__button--places-m {
  display: none;
}

.destination__button--places {
  min-width: 238px;
}

.destinations__cards {
  position: relative;
  margin-bottom: var(--destination-cards-mg-bottom);
}

.destinations__card:hover .destinations__button--book-now {
  opacity: 1;
}

.destinations__card-img {
  transition: all 0.3s ease-in-out 0.1s;
}

.destinations__card:hover .destinations__card-img {
  transform: scale(1.05);
}

.destinations__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: var(--image-mg-bottom);
  overflow: hidden;
}

.destinations__button--book-now {
  position: absolute;
  opacity: 0;
  z-index: 10;
}

.destinations__arrow-btn {
  top: calc(100% + var(--destination-cards-mg-bottom));
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}

/*Sign Up section*/
.sign-up {
  padding-top: 0;
  padding-bottom: 0;
}

.sign-up__wrapper {
  background-color: var(--color-bg-main);
  padding: 51px 80px 52px 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
}

.sign-up__img-wrapper {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background-color: var(--color-general-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 21px;
}

.sign-up__button {
  border: 1px solid var(--color-accent-blue);
}

.sign-up__close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
}

.sign-up__wrapper._mobile {
  display: none;
}

/*Footer*/
.footer {
  background-color: var(--color-general-blue);
}

.footer__img {
  display: none;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 65px;
  margin-left: calc(var(--unit) / -2);
  margin-right: calc(var(--unit) / -2);
}

.footer__col--1,
.footer__col--2 {
  width: 51%;
}

.footer__col--3 {
  width: 49%;
}

.footer__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 23px;
}

.footer__link--bold {
  font-weight: 500;
}

.footer__link:last-child {
  margin-bottom: 0;
}

.footer__link a {
  color: var(--color-general-white);
}

.footer__copyright {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-general-white);
}

@media (max-width: 1024px) {
  /* For tablets: */
  :root {
    --container-width: 100%;
    --container-pad-left-right: 52px;
    --container-pad-top-btm: 80px;
    --title-mg-bottom: 72px;
    --section-title-size: 34px;
  }

  .col-md-1 {
    width: var(--col-width);
  }

  .col-md-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-md-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-md-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-md-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: calc(var(--col-width) * 7);
  }

  .col-md-8 {
    width: calc(var(--col-width) * 8);
  }

  .col-md-9 {
    width: calc(var(--col-width) * 9);
  }

  .col-md-10 {
    width: calc(var(--col-width) * 10);
  }

  .col-md-11 {
    width: calc(var(--col-width) * 11);
  }

  .col-md-12 {
    width: 100%;
  }

  .section__title {
    font-size: var(--section-title-size);
  }

  /*Top Section*/

  .form__field {
    flex-basis: calc((100% - var(--button-width)) / 3);
  }

  /*What do we offer*/

  .offer__card {
    margin-bottom: calc(var(--unit) * 3);
  }

  .offer__card-img {
    max-width: 85px;
    margin-bottom: 32px;
  }

  .offer__card-title {
    font-size: 18px;
  }

  /*Homes guests love*/

  .homes__card:nth-child(3),
  .homes__card:nth-child(4) {
    display: none;
  }

  /*The best destinations*/

  .destinations__card:nth-child(3),
  .destinations__card:nth-child(4) {
    display: none;
  }

  /*Footer*/

  .footer__col {
    margin-bottom: var(--unit);
  }

  .footer__col:last-child {
    margin-bottom: 0;
  }

  .footer__link {
    font-size: 18px;
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  :root {
    --image-mg-bottom: 16px;
    --button-width: 100px;
    --button-height: 48px;
    --button-font-size: 19px;
    --buttons-mg-bottom: 40px;
    --destination-cards-mg-bottom: 16px;
  }

  .card__title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 14px;
  }

  .button {
    font-weight: 400;
  }

  /*Top Section*/
  .header {
    margin-bottom: 50px;
  }

  .logo__img {
    width: 122px;
    height: 24px;
  }

  .menu__list {
    display: none;
  }

  .menu__btns {
    gap: var(--unit);
  }

  .menu__btn--theme {
    width: 16px;
    height: 16px;
  }

  .menu__btn--user {
    width: 24px;
    height: 24px;
  }

  .header__hamburger-wrapper {
    display: block;
  }

  .header__hamburger-btn {
    background-color: transparent;
    border: none;
  }

  .header__hamburger-img {
    width: 24px;
    height: 16px;
  }

  .top-section__title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
  }

  .top-section__form-m {
    display: grid;
    gap: 8px;
    margin-bottom: 32px;
    padding: 8px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    background-color: var(--color-accent-yellow);
  }

  .top-section__form {
    display: none;
  }

  .form__input {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    padding: 24px 8px 6px;
    border: none;
    max-height: 48px;
  }

  .form__input:focus {
    border: none;
    box-shadow: none;
  }

  .form-m__label--destination {
    grid-column: 1 / -1;
    grid-row: 1;
    position: relative;
  }

  .form-m__label--destination::before {
    content: "";
    position: absolute;
    background: url(../images/content-images/magnifyer.svg) no-repeat;
    width: 16px;
    height: 16px;
    color: black;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  }

  .form__input--destination {
    padding: 15px 0 15px 38px;
  }

  .form-m__label--check-in,
  .form-m__label--check-out,
  .form-m__label--adults,
  .form-m__label--children,
  .form-m__label--rooms {
    position: relative;
  }

  .form-m__label--check-in::before,
  .form-m__label--check-out::before,
  .form-m__label--adults::before,
  .form-m__label--children::before,
  .form-m__label--rooms::before {
    content: attr(content);
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: var(--text-color);
    left: 8px;
    top: 6px;
    z-index: 1;
  }

  .form-m__label--check-in {
    grid-column: 1 / 4;
    grid-row: 2;
  }

  .form-m__label--check-out {
    grid-column: 4 / -1;
    grid-row: 2;
  }

  .grid__row-3 {
    grid-column: 1 / -1;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .form-m__label--adults::after,
  .form-m__label--children::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 32px;
    background-color: var(--color-secondary-text);
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .form__input {
    border-radius: 4px;
  }

  .form__input--adults {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form__input--children {
    border-radius: 0;
  }

  .form__input--rooms {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form__submit-btn--mobile {
    grid-column: 1 / -1;
    grid-row: 4;
    font-size: 19px;
    height: 48px;
  }

  /*Homes guests love*/
  .card__location-info {
    font-size: 20px;
    line-height: 1.2;
  }

  /*The best destinations*/
  .destination__button--places {
    min-width: 180px;
  }

  /*Sign Up Section*/
  .sign-up__wrapper {
    padding: 51px 51px 52px 24px;
  }

  .sign-up__img-wrapper {
    display: none;
  }

  .sign-up__title {
    font-size: 19px;
    line-height: 1.2;
  }

  .sign-up__button {
    height: 48px;
  }

  .sign-up__close-img {
    width: 20px;
    height: 20px;
    top: var(--unit);
    right: var(--unit);
  }
}

@media (max-width: 480px) {
  /* For mobile devices: */

  :root {
    --section-title-size: 28px;
    --container-pad-top-btm: 40px;
    --container-pad-left-right: 16px;
    --button-width: 98px;
    --button-height: 32px;
    --buttons-mg-bottom: 24px;
    --col-width: calc(100% / 6);
    --title-mg-bottom: 32px;
    --image-mg-bottom: 8px;
    --destination-cards-mg-bottom: 0;
  }

  .col-sm-1 {
    width: var(--col-width);
  }

  .col-sm-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-sm-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-sm-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-sm-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-sm-6 {
    width: calc(var(--col-width) * 6);
  }

  .section__title {
    font-size: var(--section-title-size);
  }

  .card__title {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 4px;
  }

  .card__arrow-btn {
    top: 30%;
    right: -4px;
    width: 28px;
    height: 28px;
  }

  .card__arrow-img {
    width: 7px;
    height: 15px;
  }

  .button {
    border-radius: 4px;
  }

  .button--mob {
    background-color: var(--color-general-white);
    border: 1px solid var(--color-stroke);
  }

  /*Top Section*/

  .top-section-wrap {
    padding-top: 12px;
  }

  /*What do we offer*/

  .offer {
    padding-top: 24px;
  }

  .offer__title {
    margin-bottom: 32px;
  }

  .offer__title::after {
    display: none;
  }

  .offer__card {
    margin-bottom: calc(var(--unit) * 2);
  }

  .offer__card-img {
    max-width: 70px;
    margin-bottom: var(--unit);
  }

  .offer__card-title {
    font-size: 15px;
  }

  /*Homes guests love*/
  .card__location-info {
    font-size: 12px;
    line-height: 14px;
  }

  /*The best destinations*/

  .destination__button {
    flex-basis: calc(100% / 3);
    min-width: auto;
  }

  .destinations__btns {
    display: flex;
    background: none;
    justify-content: space-between;
    gap: 16px;
  }

  .destination__button--places {
    display: none;
  }

  .destination__button--places-m {
    display: block;
  }

  .destinations__button--book-now {
    font-size: 15px;
    min-width: 90px;
    height: 32px;
  }

  .destinations__arrow-btn {
    top: 35%;
    left: calc(100% - 11px);
    transform: translateX(-50%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .sign-up__wrapper._desktop {
    display: none;
    background-color: var(--color-general-white);
  }

  .sign-up__wrapper._mobile {
    display: flex;
    gap: 16px;
    padding: 24px 0;
    background-color: transparent;
  }

  .sign-up__close-img--m {
    width: 16px;
    height: 16px;
  }

  .sign-up__title--m {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 0;
  }

  .sign-up__link--m {
    color: var(--color-accent-blue);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding-right: 4px;
  }

  /*Footer*/

  .footer__img {
    display: block;
    margin: 0 auto 40px;
  }

  .logo__img--mobile {
    width: 98px;
    height: 19px;
    fill: var(--color-general-white);
  }

  .footer__row {
    margin-bottom: 32px;
  }

  .footer__col {
    margin-bottom: 0;
  }

  .footer__list._right {
    display: flex;
    justify-content: flex-end;
  }

  .footer__list._center {
    display: flex;
    justify-content: center;
  }

  .footer__list._left {
    display: flex;
    justify-content: flex-start;
  }

  .footer__link {
    font-size: 15px;
    margin-bottom: 0;
  }

  .footer__link:not(.footer__link--bold) {
    display: none;
  }

  .footer__link a {
    text-decoration: underline;
  }

  .footer__copyright {
    font-size: 12px;
    text-align: center;
  }
}
