@import url("./fonts.css");

/*General style*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #383838;
  line-height: 1;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

.isCentered {
  text-align: center;
}

.section__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 104px;
}

.section__cards {
  display: flex;
  gap: 16px;
}

.section__card {
}

.section__card--4 {
  width: 25%;
}

.card-title {
  font-size: 26px;
  font-weight: 400;
}

/*What do we offer*/

.offer__title {
  margin-bottom: 26px;
}

.offer__line {
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
  border-style: none;
  margin: 0 auto 80px;
}

.offer__card {
  text-align: center;
}

.offer__img {
  margin-bottom: 48px;
}
